h1{  text-align: center; 
    background-color: cadetblue;
    margin-bottom: 0;
    padding: 30px;
}

nav{display: flex;
    background-color: blue;
    padding: 15px;
    gap: 20px;
    font-size: 18px;
    justify-content: center;
   }

nav a{
        display: inline;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        transition: backgroundcolor all 0.3s ease transform all 0.3s ease;
        border-radius: 15px;
        padding: 10px;
        font-size: 20px;
        color: black
    }

    a:hover{
        background-color: rgb(0, 63, 92);
        color:white;
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
        
    }

