h1{  text-align: center; 
    background-color: rgb(0, 90, 143);
    margin-bottom: 0;
    padding: 30px;
}

nav{display: flex;
    background-color: rgb(0, 97, 74);
    padding: 15px;
    gap: 20px;
    font-size: 18px;
    justify-content: center;
   }

nav a{
        display: inline;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        transition: backgroundcolor all 0.3s ease transform all 0.3s ease;
        border-radius: 15px;
        padding: 10px;
        font-size: 20px;
        color: black
    }

    a:hover{
        background-color: rgb(0, 63, 92);
        color:white;
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
        
    }

.About{
    border: 5px solid black;
    height: 600px;
    width: 500px;
    padding: 20px;
    background-color: white;
    margin-top: 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgb(178, 178, 178);
    
}

.About: hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    
}

.Amain{
    border: 5px solid black;
    height: 600px;
    width: 600px;
    padding: 20px;
    background-color: white;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgb(178, 178, 178);
   
}

.Amain: hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    
}
.Con{
    display: flex;
    gap:20px;
}

.C1{
    height:550px;
    width: 500px;
    border-radius: 25px;
    
}
p{
    font-size: 25px;
}

.S1Main{
     border: 3px solid black;
    height: 600px;
    width: 1200px;
    padding: 20px;
    background-color: white;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgb(178, 178, 178);
}

.H2{
     border: 3px solid black;
    height: max-content;
    width: max-content;
    padding: 20px;
    background-color: white;
    margin-top: 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgb(178, 178, 178);
    margin-left: 45%;
}
